<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>

			<style>
				body{
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100vh;
					background-color: #f4f4f4;
					flex-direction: column;
				}
			</style>
		</head>
	<body>

		<h1>Bem vindo a página inicial</h1>


		<a href="/">home</a>
		<a href="/formulario_inclusao_noticia">Adicionar Noticia</a>
		<a href="/noticia">Noticia</a>
		<a href="/noticias">Noticias</a>

	</body>
</html>